html {
    background: black;
}

body {
    background: pink;
}

@media screen and (max-width: 519px) {
    #sections {
        display: none;
    }
    .home {
        background: pink;
    }
    #GitHub {
        margin-left: 30%;
        margin-top: 5%;
    }
    #GitHub a button {
        font-size: 10px;
    }
    #GitHub a button img {
        width: 8px;
    }
    .About {
        background: #22DEFF;
    }
    #About {
        font-size: 60%;
        color: #8A3090;
    }
    #About p img {
        width: 0%;
    }
    #Linkedin {
        margin-top: 5%;
        margin-left: 23%;
        height: 100%;
        width: 60%;
    }
    #Linkedin a button {
        font-size: 15px;
    }
    #Linkedin a button img {
        width: 15px;
    }
    .certificates {
        background: #959191;
    }
    #certificates a img {
        width: 50%;
    }
    .TopRepos {
        background: black;
    }
    #TopRepos {
        margin-left: 20%;
    }
    #TopRepos p {
        font-size: 100%;
        margin-left: 6%;
    }
    #TopRepos a img {
        width: 120px;
    }
    .expandable {
        overflow: hidden;
        line-height: 90%;
        transition: all .5s ease-in-out;
        height: 0;
    }

        .expandable:target {
            height: 100%;
        }
    #repositories {
        background: white;
    }
    #StackOverflow {
        margin-top: 10%;
        margin-left: 30%;
    }
    #StackOverflow a button img {
        width: 50px;
    }
    #topSecret {
        display: none;
    }
}

@media screen and (min-width: 520px) {
    .homeButton {
        margin-left: 5%;
    }

    #sections {
        background: black;
        margin: 0;
        position: fixed;
        top: 0;
        z-index: 999;
        height: 6%;
        width: 100%;
    }
        #sections button {
            font-size: 100%;
        }

    .home {
        background: pink;
    }
    #GitHub {
        margin-left: 75%;
        margin-top: 5%;
    }
    #GitHub a button {
        font-size: 15px;
    }
    #GitHub a button img {
        width: 10px;
    }
    .About {
        background: #22DEFF;
    }
    #About {
        font-size: 90%;
        color: #8A3090;
    }
    #About p img {
        width: 0%;
    }
    #Linkedin {
        margin-top: 5%;
        margin-left: 23%;
        height: 150%;
        width: 90%;
    }
    #Linkedin a button {
        font-size: 20px;
    }
    #Linkedin a button img {
        width: 20px;
    }
    .certificates {
        background: #959191;
    }
    #certificates a img {
        width: 50%;
    }
    .TopRepos {
        background: black;
    }
    #TopRepos {
        margin-left: 20%;
    }
    #TopRepos p {
        font-size: 300%;
        margin-left: 6%;
    }
    #TopRepos a img {
        width: 520px;
    }
    .expandable {
        overflow: hidden;
        line-height: 90%;
        transition: all .5s ease-in-out;
        height: 0;
    }

        .expandable:target {
            height: 100%;
        }
    #repositories {
        background: white;
    }
    #StackOverflow {
        margin-top: 10%;
        margin-left: 30%;
    }
    #StackOverflow a button img {
        width: 200px;
    }
    #topSecret {
        display: none;
    }
}

@media screen and (min-width: 618px) {
    .homeButton {
        margin-left: 18%;
    }

    #sections {
        background: black;
        margin: 0;
        position: fixed;
        top: 0;
        z-index: 999;
        height: 6%;
        width: 100%;
    }
        #sections button {
            font-size: 100%;
        }

    .home {
        background: pink;
    }
    #GitHub {
        margin-left: 75%;
        margin-top: 5%;
    }
    #GitHub a button {
        font-size: 25px;
    }
    #GitHub a button img {
        width: 15px;
    }
    .About {
        background: #22DEFF;
    }
    #About {
        margin-left: 20px;
        font-size: 100%;
        color: #8A3090;
    }
    #About p img {
        width: 0%;
    }
    #Linkedin {
        margin-top: 5%;
        margin-left: 23%;
        height: 200%;
        width: 100%;
    }
    #Linkedin a button {
        font-size: 20px;
    }
    #Linkedin a button img {
        width: 20px;
    }
    .certificates {
        background: #959191;
    }
    #certificates a img {
        width: 35%;
    }
    .TopRepos {
        background: black;
    }
    #TopRepos {
        margin-left: 20%;
    }
    #TopRepos p {
        font-size: 300%;
        margin-left: 6%;
    }
    #TopRepos a img {
        width: 520px;
    }
    .expandable {
        overflow: hidden;
        line-height: 90%;
        transition: all .5s ease-in-out;
        height: 0;
    }

        .expandable:target {
            height: 100%;
        }
    #repositories {
        background: white;
    }
    #StackOverflow {
        margin-top: 10%;
        margin-left: 30%;
    }
    #StackOverflow a button img {
        width: 200px;
    }
    #topSecret {
        display: block;
        background: gray;
        height: 450px;
    }
    #topSecretButton {
        transition: .5s;
        background-color: #E9BE0E;
        color: #424B4D;
        border: 75;
        height: 15%;
        width: 30%;
        margin-top: 20%;
        margin-left: 3%;
    }
    #topSecretButton:hover {
        background: gray;
        border: 0;
        color: gray;
        transition: 0s 0s;
    }
    #hiddenText {
        display: none;
    }
    #topSecretButton:focus + #hiddenText {
        display: block;
    }
    #topSecretButton:hover span {
        display: none
    }
    #streak {
        float:right;
        margin-right: 47%;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 50%;
    }
    #source {
        margin-top: 17%;
        margin-left: 0.85%;
        font-size: 125%;
    }
    #source button {
        background: gray;
        border: 0;
        font-size: 100%;
        color: #9C00F0;
    }
}

@media screen and (min-width: 735px) {
    .homeButton {
        margin-left: 18%;
    }

    #sections {
        background: black;
        margin: 0;
        position: fixed;
        top: 0;
        z-index: 999;
        height: 6%;
        width: 100%;
    }
        #sections button {
            font-size: 100%;
        }

    .home {
        background: pink;
    }
    #GitHub {
        margin-left: 75%;
        margin-top: 5%;
    }
    #GitHub a button {
        font-size: 35px;
    }
    #GitHub a button img {
        width: 25px;
    }
    .About {
        background: #22DEFF;
    }
    #About {
        margin-left: 20px;
        font-size: 150%;
        color: #8A3090;
    }
    #About p img {
        width: 0%;
    }
    #Linkedin {
        margin-top: 5%;
        margin-left: 23%;
        height: 200%;
        width: 100%;
    }
    #Linkedin a button {
        font-size: 30px;
    }
    #Linkedin a button img {
        width: 20px;
    }
    .certificates {
        background: #959191;
    }
    #certificates a img {
        width: 35%;
    }
    .TopRepos {
        background: black;
    }
    #TopRepos {
        margin-left: 20%;
    }
    #TopRepos p {
        font-size: 300%;
        margin-left: 6%;
    }
    #TopRepos a img {
        width: 520px;
    }
    .expandable {
        overflow: hidden;
        line-height: 90%;
        transition: all .5s ease-in-out;
        height: 0;
    }

        .expandable:target {
            height: 100%;
        }
    #repositories {
        background: white;
    }
    #StackOverflow {
        margin-top: 10%;
        margin-left: 30%;
    }
    #StackOverflow a button img {
        width: 200px;
    }
    #topSecret {
        display: block;
        background: gray;
        height: 400px;
    }
    #topSecretButton {
        transition: .5s;
        background-color: #E9BE0E;
        color: #424B4D;
        border: 75;
        height: 15%;
        width: 25%;
        margin-top: 17%;
        margin-left: 7%;
    }
    #topSecretButton:hover {
        background: gray;
        border: 0;
        color: gray;
        transition: 0s 0s;
    }
    #hiddenText {
        display: none;
    }
    #topSecretButton:focus + #hiddenText {
        display: block;
    }
    #topSecretButton:hover span {
        display: none
    }
    #streak {
        float:right;
        margin-right: 10%;
        margin-top: 10%;
        width: 50%;
    }
    #source {
        margin-top: 17%;
        margin-left: 0.85%;
        font-size: 125%;
    }
    #source button {
        background: gray;
        border: 0;
        font-size: 100%;
        color: #9C00F0;
    }
}

@media screen and (min-width: 829px) {
    .homeButton {
        margin-left: 12%;
    }

    #sections {
        background: black;
        margin: 0;
        position: fixed;
        top: 0;
        z-index: 999;
        height: 8%;
        width: 100%;
    }
        #sections button {
            font-size: 150%;
        }

    .home {
        background: pink;
    }
    #GitHub {
        margin-left: 75%;
        margin-top: 5%;
    }
    #GitHub a button {
        font-size: 35px;
    }
    #GitHub a button img {
        width: 25px;
    }
    .About {
        background: #22DEFF;
    }
    #About {
        margin-left: 20px;
        font-size: 150%;
        color: #8A3090;
    }
    #About p img {
        width: 0%;
    }
    #Linkedin {
        margin-top: 5%;
        margin-left: 23%;
        height: 200%;
        width: 100%;
    }
    #Linkedin a button {
        font-size: 30px;
    }
    #Linkedin a button img {
        width: 20px;
    }
    .certificates {
        background: #959191;
    }
    #certificates a img {
        width: 35%;
    }
    .TopRepos {
        background: black;
    }
    #TopRepos {
        margin-left: 20%;
    }
    #TopRepos p {
        font-size: 300%;
        margin-left: 6%;
    }
    #TopRepos a img {
        width: 520px;
    }
    .expandable {
        overflow: hidden;
        line-height: 90%;
        transition: all .5s ease-in-out;
        height: 0;
    }

        .expandable:target {
            height: 100%;
        }
    #repositories {
        background: white;
    }
    #StackOverflow {
        margin-top: 10%;
        margin-left: 30%;
    }
    #StackOverflow a button img {
        width: 200px;
    }
    #topSecret {
        display: block;
        background: gray;
        height: 400px;
    }
    #topSecretButton {
        transition: .5s;
        background-color: #E9BE0E;
        color: #424B4D;
        border: 75;
        height: 15%;
        width: 25%;
        margin-top: 17%;
        margin-left: 7%;
    }
    #topSecretButton:hover {
        background: gray;
        border: 0;
        color: gray;
        transition: 0s 0s;
    }
    #hiddenText {
        display: none;
    }
    #topSecretButton:focus + #hiddenText {
        display: block;
    }
    #topSecretButton:hover span {
        display: none
    }
    #streak {
        float:right;
        margin-right: 10%;
        margin-top: 10%;
        width: 50%;
    }
    #source {
        margin-top: 17%;
        margin-left: 0.85%;
        font-size: 125%;
    }
    #source button {
        background: gray;
        border: 0;
        font-size: 100%;
        color: #9C00F0;
    }
}

@media screen and (min-width: 948px) {
    .homeButton {
        margin-left: 10%;
    }

    #sections {
        background: black;
        margin: 0;
        position: fixed;
        top: 0;
        z-index: 999;
        height: 10%;
        width: 100%;
    }
        #sections button {
            font-size: 200%;
        }

    .home {
        background: pink;
    }
    #GitHub {
        margin-left: 75%;
        margin-top: 5%;
    }
    #GitHub a button {
        font-size: 35px;
    }
    #GitHub a button img {
        width: 25px;
    }
    .About {
        background: #22DEFF;
    }
    #About {
        font-size: 155%;
        color: #8A3090;
    }
    #About p img {
        width: 25%;
    }
    #Linkedin {
        margin-top: 5%;
        margin-left: 19%;
        height: 200%;
        width: 100%;
    }
    #Linkedin a button {
        font-size: 30px;
    }
    #Linkedin a button img {
        width: 30px;
    }
    .certificates {
        background: #959191;
    }
    #certificates a img {
        width: 35%;
    }
    .TopRepos {
        background: black;
    }
    #TopRepos {
        margin-left: 25%;
    }
    #TopRepos p {
        font-size: 350%;
        margin-left: 5%;
    }
    #TopRepos a img {
        width: 570px;
    }
    .expandable {
        overflow: hidden;
        line-height: 90%;
        transition: all .5s ease-in-out;
        height: 0;
    }

        .expandable:target {
            height: 100%;
        }
    #repositories {
        background: white;
    }
    #StackOverflow {
        margin-top: 10%;
        margin-left: 35%;
    }
    #StackOverflow a button img {
        width: 200px;
    }
    #topSecret {
        display: block;
        background: gray;
        height: 500px;
    }
    #topSecretButton {
        transition: .5s;
        background-color: #E9BE0E;
        color: #424B4D;
        border: 75;
        height: 15%;
        width: 19%;
        margin-top: 15%;
        margin-left: 7%;
    }
    #topSecretButton:hover {
        background: gray;
        border: 0;
        color: gray;
        transition: 0s 0s;
    }
    #hiddenText {
        display: none;
    }
    #topSecretButton:focus + #hiddenText {
        display: block;
    }
    #topSecretButton:hover span {
        display: none
    }
    #streak {
        float:right;
        margin-right: 20%;
        margin-top: 10%;
        width: 40%;
    }
    #source {
        margin-top: 18%;
        margin-left: 0.85%;
        font-size: 125%;
    }
    #source button {
        background: gray;
        border: 0;
        font-size: 100%;
        color: #9C00F0;
    }
}

@media screen and (min-width: 1224px) {
    .homeButton {
        margin-left: 10%;
    }

    #sections {
        background: black;
        margin: 0;
        position: fixed;
        top: 0;
        z-index: 999;
        height: 10%;
        width: 100%;
    }
        #sections button {
            font-size: 250%;
        }

    .home {
        background: pink;
    }
    #GitHub {
        margin-left: 75%;
        margin-top: 5%;
    }
    #GitHub a button {
        font-size: 35px;
    }
    #GitHub a button img {
        width: 25px;
    }
    .About {
        background: #22DEFF;
    }
    #About {
        font-size: 185%;
        color: #8A3090;
    }
    #About p img {
        width: 25%;
    }
    #Linkedin {
        margin-top: 5%;
        margin-left: 19%;
    }
    #Linkedin a button {
        font-size: 30px;
    }
    #Linkedin a button img {
        width: 30px;
    }
    .certificates {
        background: #959191;
    }
    #certificates a img {
        width: 25%;
    }
    .TopRepos {
        background: black;
    }
    #TopRepos {
        margin-left: 25%;
    }
    #TopRepos p {
        font-size: 550%;
        margin-left: 5%;
    }
    #TopRepos a img {
        width: 770px;
    }
    .expandable {
        overflow: hidden;
        line-height: 90%;
        transition: all .5s ease-in-out;
        height: 0;
    }

        .expandable:target {
            height: 100%;
        }
    #repositories {
        background: white;
    }
    #StackOverflow {
        margin-top: 10%;
        margin-left: 40%;
    }
    #StackOverflow a button img {
        width: 250px;
    }
    #topSecret {
        display: block;
        background: gray;
        height: 500px;
    }
    #topSecretButton {
        transition: .5s;
        background-color: #E9BE0E;
        color: #424B4D;
        border: 75;
        height: 14%;
        width: 15%;
        margin-top: 15%;
        margin-left: 7%;
    }
    #topSecretButton:hover {
        background: gray;
        border: 0;
        color: gray;
        transition: 0s 0s;
    }
    #hiddenText {
        display: none;
    }
    #topSecretButton:focus + #hiddenText {
        display: block;
    }
    #topSecretButton:hover span {
        display: none
    }
    #streak {
        float:right;
        margin-right: 25%;
        margin-top: 10%;
        width: 35%;
    }
    #source {
        margin-top: 12%;
        margin-left: 0.85%;
        font-size: 125%;
    }
    #source button {
        background: gray;
        border: 0;
        font-size: 100%;
        color: #9C00F0;
    }
}

@media screen and (min-width: 1464px) {
    .homeButton {
        margin-left: 18%;
    }

    #sections {
        background: black;
        margin: 0;
        position: fixed;
        top: 0;
        z-index: 999;
        height: 10%;
        width: 100%;
    }
        #sections button {
            font-size: 250%;
        }

    .home {
        background: pink;
    }
    #GitHub {
        margin-left: 75%;
        margin-top: 5%;
    }
    #GitHub a button {
        font-size: 35px;
    }
    #GitHub a button img {
        width: 25px;
    }
    .About {
        background: #22DEFF;
    }
    #About {
        font-size: 185%;
        color: #8A3090;
    }
    #About p img {
        width: 25%;
    }
    #Linkedin {
        margin-top: 5%;
        margin-left: 19%;
    }
    #Linkedin a button {
        font-size: 30px;
    }
    #Linkedin a button img {
        width: 30px;
    }
    .certificates {
        background: #959191;
    }
    #certificates a img {
        width: 25%;
    }
    .TopRepos {
        background: black;
    }
    #TopRepos {
        margin-left: 24%;
    }
    #TopRepos p {
        font-size: 550%;
    }
    #TopRepos a img {
        width: 770px;
    }
    .expandable {
        overflow: hidden;
        line-height: 90%;
        transition: all .5s ease-in-out;
        height: 0;
    }

        .expandable:target {
            height: 100%;
        }
    #repositories {
        background: white;
    }
    #StackOverflow {
        margin-top: 10%;
        margin-left: 40%;
    }
    #StackOverflow a button img {
        width: 250px;
    }
    #topSecret {
        display: block;
        background: gray;
        height: 500px;
    }
    #topSecretButton {
        transition: .5s;
        background-color: #E9BE0E;
        color: #424B4D;
        border: 75;
        height: 14%;
        width: 15%;
        margin-top: 12%;
        margin-left: 7%;
    }
    #topSecretButton:hover {
        background: gray;
        border: 0;
        color: gray;
        transition: 0s 0s;
    }
    #hiddenText {
        display: none;
    }
    #topSecretButton:focus + #hiddenText {
        display: block;
    }
    #topSecretButton:hover span {
        display: none
    }
    #streak {
        float:right;
        margin-right: 25%;
        margin-top: 8%;
        width: 35%;
    }
    #source {
        margin-top: 9%;
        margin-left: 0.85%;
        font-size: 125%;
    }
    #source button {
        background: gray;
        border: 0;
        font-size: 100%;
        color: #9C00F0;
    }
}