html {
    background: #111110;
}

@media(max-width: 1237px){
#pfp {
  position: absolute;
  float: right;
  top: 150px;
  left: 450px;
  width: 240px;
  border-radius: 5px;
  border: 7px solid blue;
  animation: 3s infinite glow;
  transition: transform .7s ease-in-out;
}

#pfp:hover {
  position: absolute;
  float: right;
  top: 150px;
  left: 450px;
  width: 240px;
  border-radius: 1095px;
  border: 17px solid blue;
  animation: 1s infinite glow;
  transform: rotate(180deg);
}
@keyframes glow {
  0% {
    border-color: #F97EE5;
  }
  10% {
    border-color: #F97EE5 #11C9FF #11FF8F #FF116B;
  }
  25% {
    border-color: #11C9FF;
  }
  35% {
    border-color: #FF116B #F97EE5 #11C9FF #11FF8F;
  }
  50% {
    border-color: #11FF8F;
  }
  65% {
    border-color: #11FF8F #FF116B #F97EE5 #11C9FF;
  }
  75% {
    border-color: #FF116B;
  }
  100% {
    border-color: #11C9FF #11FF8F #FF116B #F97EE5;
  }
}
@-webkit-keyframes glow {
  0% {
    border-color: #F97EE5;
  }
  10% {
    border-color: #F97EE5 #11C9FF #11FF8F #FF116B;
  }
  25% {
    border-color: #11C9FF;
  }
  35% {
    border-color: #FF116B #F97EE5 #11C9FF #11FF8F;
  }
  50% {
    border-color: #11FF8F;
  }
  65% {
    border-color: #11FF8F #FF116B #F97EE5 #11C9FF;
  }
  75% {
    border-color: #FF116B;
  }
  100% {
    border-color: #11C9FF #11FF8F #FF116B #F97EE5;
  }
}

#Ins {
    float: left;
    margin-top: 65px;
    width: 20px;
}

#name {
    float: left;
    position: relative;
    width: 750px;
    margin-top: 25px;
    display: none;
}

#github-logo {
    position: absolute;
    width: 30px;
    top: 176px;
    left: 65px;
}

#github-link {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 176px;
    left: 103px;
}

#linkedin-logo {
    position: absolute;
    width: 30px;
    top: 212px;
    left: 65px;
}

#linkedin-link {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 212px;
    left: 103px;
}

#gmail {
    position: absolute;
    width: 30px;
    top: 253px;
    left: 65px;
}

#mail {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 247px;
    left: 103px;
}

.skills h1 {
    color: #E9952A;
    position: absolute;
    font-size: 45px;
    top: 350px;
    left: 25px;
}

.py {
    position: absolute;
    top: 459px;
    left: 25px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 265px;
    height: 75px;
    font-size: 45px;
    color: #373539;
    z-index: 99;
}

#python {
    position: absolute;
    top: 530px;
    left: 25px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    width: 263px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 98;
    height: 0;
}

#python-logo {
    width: 35px;
}

.py:hover + #python {
    height: 300px;
}

#python:hover {
    height: 300px;
}

.html-css {
    position: absolute;
    top: 459px;
    left: 310px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 265px;
    height: 75px;
    font-size: 30px;
    color: #373539;
    z-index: 99;
}

#html-css {
    position: absolute;
    top: 530px;
    left: 310px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    width: 263px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 98;
    height: 0;
}

.html-css:hover + #html-css {
    height: 280px;
}

#html-css:hover {
    height: 280px;
}

.github {
    position: absolute;
    top: 459px;
    left: 595px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 265px;
    height: 75px;
    font-size: 30px;
    color: #373539;
    z-index: 99;
}

#github {
    position: absolute;
    top: 530px;
    left: 595px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    margin-down: 2500px;
    width: 263px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 98;
    height: 0;
}

#git-logo {
    width: 30px;
}

.github:hover + #github {
    height: 395px;
}

#github:hover {
    height: 395px;
}

.education h1 {
    color: #E9952A;
    position: absolute;
    font-size: 45px;
    top: 550px;
    left: 20px;
}

.education button {
    background: #111110;
    border: none;
    color: #ECC100;
    position: absolute;
    font-size: 25px;
    top: 660px;
    left: 20px;
}

.education p {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 700px;
    left: 50px;
}

.education p a {
    color: #0BFDEB;
    font-size: 20px;
}

.projects {
    position: absolute;
    top: 550px;
    left: 420px;
}

.projects h1 {
    color: #E9952A;
    font-size: 45px;
}

.projects a img {
    width: 250px;
    display: flex;
    transform: scale(1);
    transition: transform .5s;
}

.projects a img:hover {
    transform: scale(1.2);
}

.CV-source button {
    position: absolute;
    border: none;
    background: #FF8700;
    width: 100%;
    height: 1px;
    top: 1350px;
    left: 0;
}

#CV {
    position: absolute;
    color: #0BFDEB;
    font-size: 35px;
    top: 1400px;
    left: 20%;
}

#source {
    position: absolute;
    color: #0BFDEB;
    font-size: 35px;
    top: 1400px;
    left: 60%;
}
}

@media(max-width: 877px){
#pfp {
  position: absolute;
  float: right;
  top: 120px;
  left: 330px;
  width: 200px;
  border-radius: 5px;
  border: 7px solid blue;
  animation: 3s infinite glow;
  transition: transform .7s ease-in-out;
}

#pfp:hover {
  position: absolute;
  float: right;
  top: 120px;
  left: 330px;
  width: 200px;
  border-radius: 1095px;
  border: 17px solid blue;
  animation: 1s infinite glow;
  transform: rotate(180deg);
}
@keyframes glow {
  0% {
    border-color: #F97EE5;
  }
  10% {
    border-color: #F97EE5 #11C9FF #11FF8F #FF116B;
  }
  25% {
    border-color: #11C9FF;
  }
  35% {
    border-color: #FF116B #F97EE5 #11C9FF #11FF8F;
  }
  50% {
    border-color: #11FF8F;
  }
  65% {
    border-color: #11FF8F #FF116B #F97EE5 #11C9FF;
  }
  75% {
    border-color: #FF116B;
  }
  100% {
    border-color: #11C9FF #11FF8F #FF116B #F97EE5;
  }
}
@-webkit-keyframes glow {
  0% {
    border-color: #F97EE5;
  }
  10% {
    border-color: #F97EE5 #11C9FF #11FF8F #FF116B;
  }
  25% {
    border-color: #11C9FF;
  }
  35% {
    border-color: #FF116B #F97EE5 #11C9FF #11FF8F;
  }
  50% {
    border-color: #11FF8F;
  }
  65% {
    border-color: #11FF8F #FF116B #F97EE5 #11C9FF;
  }
  75% {
    border-color: #FF116B;
  }
  100% {
    border-color: #11C9FF #11FF8F #FF116B #F97EE5;
  }
}

#Ins {
    float: left;
    margin-top: 50px;
    width: 10px;
}

#name {
    float: left;
    position: relative;
    width: 450px;
    margin-top: 25px;
    display: none;
}

#github-logo {
    position: absolute;
    width: 25px;
    top: 116px;
    left: 45px;
}

#github-link {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 113px;
    left: 76px;
}

#linkedin-logo {
    position: absolute;
    width: 25px;
    top: 152px;
    left: 45px;
}

#linkedin-link {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 152px;
    left: 78px;
}

#gmail {
    position: absolute;
    width: 25px;
    top: 193px;
    left: 45px;
}

#mail {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 187px;
    left: 77px;
}

.skills h1 {
    color: #E9952A;
    position: absolute;
    font-size: 35px;
    top: 250px;
    left: 25px;
}

.py {
    position: absolute;
    top: 329px;
    left: 25px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    font-size: 40px;
    color: #373539;
    z-index: 99;
}

#python {
    position: absolute;
    top: 400px;
    left: 25px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    width: 198px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 98;
    height: 0;
}

#python-logo {
    width: 30px;
}

.py:hover + #python {
    height: 320px;
}

#python:hover {
    height: 320px;
}

.html-css {
    position: absolute;
    top: 329px;
    left: 230px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    font-size: 24.45px;
    color: #373539;
    z-index: 99;
}

#html-css {
    position: absolute;
    top: 400px;
    left: 230px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    width: 198px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 98;
    height: 0;
}

.html-css:hover + #html-css {
    height: 360px;
}

#html-css:hover {
    height: 360px;
}

.github {
    position: absolute;
    top: 329px;
    left: 435px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    font-size: 24.37px;
    color: #373539;
    z-index: 99;
}

#github {
    position: absolute;
    top: 400px;
    left: 435px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    margin-down: 2500px;
    width: 198px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 98;
    height: 0;
}

#git-logo {
    width: 20px;
}

.github:hover + #github {
    height: 475px;
}

#github:hover {
    height: 475px;
}

.education h1 {
    color: #E9952A;
    position: absolute;
    font-size: 35px;
    top: 450px;
    left: 20px;
}

.education button {
    background: #111110;
    border: none;
    color: #ECC100;
    position: absolute;
    font-size: 15px;
    top: 530px;
    left: 20px;
}

.education p {
    position: absolute;
    color: white;
    font-size: 15px;
    top: 560px;
    left: 30px;
}

.education p a {
    color: #0BFDEB;
    font-size: 15px;
}

.projects {
    position: absolute;
    top: 450px;
    left: 300px;
}

.projects h1 {
    color: #E9952A;
    font-size: 35px;
}

.projects a img {
    width: 200px;
    display: flex;
    transform: scale(1);
    transition: transform .5s;
}

.projects a img:hover {
    transform: scale(1.2);
}

.CV-source button {
    position: absolute;
    border: none;
    background: #FF8700;
    width: 100%;
    height: 1px;
    top: 1090px;
    left: 0;
}

#CV {
    position: absolute;
    color: #0BFDEB;
    font-size: 35px;
    top: 1120px;
    left: 15%;
}

#source {
    position: absolute;
    color: #0BFDEB;
    font-size: 35px;
    top: 1120px;
    left: 70%;
}
}

@media(max-width: 652px){
#pfp {
  position: absolute;
  float: right;
  top: 120px;
  left: 360px;
  width: 100px;
  border-radius: 5px;
  border: 7px solid blue;
  animation: 3s infinite glow;
  transition: transform .7s ease-in-out;
}

#pfp:hover {
  position: absolute;
  float: right;
  top: 120px;
  left: 360px;
  width: 100px;
  border-radius: 1095px;
  border: 17px solid blue;
  animation: 1s infinite glow;
  transform: rotate(180deg);
}
@keyframes glow {
  0% {
    border-color: #F97EE5;
  }
  10% {
    border-color: #F97EE5 #11C9FF #11FF8F #FF116B;
  }
  25% {
    border-color: #11C9FF;
  }
  35% {
    border-color: #FF116B #F97EE5 #11C9FF #11FF8F;
  }
  50% {
    border-color: #11FF8F;
  }
  65% {
    border-color: #11FF8F #FF116B #F97EE5 #11C9FF;
  }
  75% {
    border-color: #FF116B;
  }
  100% {
    border-color: #11C9FF #11FF8F #FF116B #F97EE5;
  }
}
@-webkit-keyframes glow {
  0% {
    border-color: #F97EE5;
  }
  10% {
    border-color: #F97EE5 #11C9FF #11FF8F #FF116B;
  }
  25% {
    border-color: #11C9FF;
  }
  35% {
    border-color: #FF116B #F97EE5 #11C9FF #11FF8F;
  }
  50% {
    border-color: #11FF8F;
  }
  65% {
    border-color: #11FF8F #FF116B #F97EE5 #11C9FF;
  }
  75% {
    border-color: #FF116B;
  }
  100% {
    border-color: #11C9FF #11FF8F #FF116B #F97EE5;
  }
}

#Ins {
    float: left;
    margin-top: 50px;
    width: 10px;
}

#name {
    float: left;
    position: relative;
    width: 450px;
    margin-top: 25px;
    display: none;
}

#github-logo {
    position: absolute;
    width: 25px;
    top: 116px;
    left: 45px;
}

#github-link {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 113px;
    left: 76px;
}

#linkedin-logo {
    position: absolute;
    width: 25px;
    top: 152px;
    left: 45px;
}

#linkedin-link {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 152px;
    left: 78px;
}

#gmail {
    position: absolute;
    width: 25px;
    top: 193px;
    left: 45px;
}

#mail {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 187px;
    left: 77px;
}

.skills h1 {
    color: #E9952A;
    position: absolute;
    font-size: 35px;
    top: 250px;
    left: 25px;
}

.py {
    position: absolute;
    top: 329px;
    left: 25px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    font-size: 40px;
    color: #373539;
    z-index: 99;
}

#python {
    position: absolute;
    top: 400px;
    left: 25px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    width: 198px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 98;
    height: 0;
}

#python-logo {
    width: 30px;
}

.py:hover + #python {
    height: 320px;
}

#python:hover {
    height: 320px;
}

.html-css {
    position: absolute;
    top: 429px;
    left: 25px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    font-size: 24.45px;
    color: #373539;
    z-index: 97;
}

#html-css {
    position: absolute;
    top: 500px;
    left: 25px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    width: 198px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 96;
    height: 0;
}

.html-css:hover + #html-css {
    height: 360px;
}

#html-css:hover {
    height: 360px;
}

.github {
    position: absolute;
    top: 529px;
    left: 25px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    font-size: 24.37px;
    color: #373539;
    z-index: 95;
}

#github {
    position: absolute;
    top: 600px;
    left: 25px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    margin-down: 2500px;
    width: 198px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 94;
    height: 0;
}

#git-logo {
    width: 20px;
}

.github:hover + #github {
    height: 475px;
}

#github:hover {
    height: 475px;
}

.education h1 {
    color: #E9952A;
    position: absolute;
    font-size: 35px;
    top: 600px;
    left: 20px;
}

.education button {
    background: #111110;
    border: none;
    color: #ECC100;
    position: absolute;
    font-size: 15px;
    top: 660px;
    left: 20px;
}

.education p {
    position: absolute;
    color: white;
    font-size: 15px;
    top: 690px;
    left: 30px;
}

.education p a {
    color: #0BFDEB;
    font-size: 15px;
}

.projects {
    position: absolute;
    top: 890px;
    left: 20px;
}

.projects h1 {
    color: #E9952A;
    font-size: 35px;
}

.projects a img {
    width: 200px;
    display: flex;
    transform: scale(1);
    transition: transform .5s;
}

.projects a img:hover {
    transform: scale(1.2);
}

.CV-source button {
    position: absolute;
    border: none;
    background: #FF8700;
    width: 100%;
    height: 1px;
    top: 1590px;
    left: 0;
}

#CV {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 1620px;
    left: 15%;
}

#source {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 1620px;
    left: 70%;
}
}

@media(max-width: 490px){
#pfp {
  position: absolute;
  float: right;
  top: 80px;
  left: 165px;
  width: 80px;
  border-radius: 5px;
  border: 7px solid blue;
  animation: 3s infinite glow;
  transition: transform .7s ease-in-out;
}

#pfp:hover {
  position: absolute;
  float: right;
  top: 80px;
  left: 165px;
  width: 80px;
  border-radius: 1095px;
  border: 17px solid blue;
  animation: 1s infinite glow;
  transform: rotate(180deg);
}
@keyframes glow {
  0% {
    border-color: #F97EE5;
  }
  10% {
    border-color: #F97EE5 #11C9FF #11FF8F #FF116B;
  }
  25% {
    border-color: #11C9FF;
  }
  35% {
    border-color: #FF116B #F97EE5 #11C9FF #11FF8F;
  }
  50% {
    border-color: #11FF8F;
  }
  65% {
    border-color: #11FF8F #FF116B #F97EE5 #11C9FF;
  }
  75% {
    border-color: #FF116B;
  }
  100% {
    border-color: #11C9FF #11FF8F #FF116B #F97EE5;
  }
}
@-webkit-keyframes glow {
  0% {
    border-color: #F97EE5;
  }
  10% {
    border-color: #F97EE5 #11C9FF #11FF8F #FF116B;
  }
  25% {
    border-color: #11C9FF;
  }
  35% {
    border-color: #FF116B #F97EE5 #11C9FF #11FF8F;
  }
  50% {
    border-color: #11FF8F;
  }
  65% {
    border-color: #11FF8F #FF116B #F97EE5 #11C9FF;
  }
  75% {
    border-color: #FF116B;
  }
  100% {
    border-color: #11C9FF #11FF8F #FF116B #F97EE5;
  }
}

#Ins {
    float: left;
    margin-top: 40px;
    width: 6px;
}

#name {
    float: left;
    position: relative;
    width: 250px;
    margin-top: 25px;
    display: none;
}

#github-logo {
    position: absolute;
    width: 20px;
    top: 80px;
    left: 25px;
}

#github-link {
    position: absolute;
    color: #0BFDEB;
    font-size: 20px;
    top: 78px;
    left: 50px;
}

#linkedin-logo {
    position: absolute;
    width: 20px;
    top: 110px;
    left: 25px;
}

#linkedin-link {
    position: absolute;
    color: #0BFDEB;
    font-size: 20px;
    top: 107px;
    left: 48px;
}

#gmail {
    position: absolute;
    width: 20px;
    top: 140px;
    left: 25px;
}

#mail {
    position: absolute;
    color: #0BFDEB;
    font-size: 20px;
    top: 138px;
    left: 50px;
}

.skills h1 {
    color: #E9952A;
    position: absolute;
    font-size: 35px;
    top: 165px;
    left: 25px;
}

.py {
    position: absolute;
    top: 250px;
    left: 25px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    font-size: 40px;
    color: #373539;
    z-index: 99;
}

#python {
    position: absolute;
    top: 320px;
    left: 25px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    width: 198px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 98;
    height: 0;
}

#python-logo {
    width: 30px;
}

.py:hover + #python {
    height: 320px;
}

#python:hover {
    height: 320px;
}

.html-css {
    position: absolute;
    top: 340px;
    left: 25px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    font-size: 24.45px;
    color: #373539;
    z-index: 97;
}

#html-css {
    position: absolute;
    top: 410px;
    left: 25px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    width: 198px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 96;
    height: 0;
}

.html-css:hover + #html-css {
    height: 360px;
}

#html-css:hover {
    height: 360px;
}

.github {
    position: absolute;
    top: 430px;
    left: 25px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 75px;
    font-size: 24.37px;
    color: #373539;
    z-index: 95;
}

#github {
    position: absolute;
    top: 500px;
    left: 25px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    margin-down: 2500px;
    width: 198px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 94;
    height: 0;
}

#git-logo {
    width: 20px;
}

.github:hover + #github {
    height: 475px;
}

#github:hover {
    height: 475px;
}

.education h1 {
    color: #E9952A;
    position: absolute;
    font-size: 35px;
    top: 500px;
    left: 20px;
}

.education button {
    background: #111110;
    border: none;
    color: #ECC100;
    position: absolute;
    font-size: 15px;
    top: 560px;
    left: 20px;
}

.education p {
    position: absolute;
    color: white;
    font-size: 15px;
    top: 590px;
    left: 30px;
}

.education p a {
    color: #0BFDEB;
    font-size: 15px;
}

.projects {
    position: absolute;
    top: 790px;
    left: 20px;
}

.projects h1 {
    color: #E9952A;
    font-size: 35px;
}

.projects a img {
    width: 200px;
    display: flex;
    transform: scale(1);
    transition: transform .5s;
}

.projects a img:hover {
    transform: scale(1.2);
}

.CV-source button {
    position: absolute;
    border: none;
    background: #FF8700;
    width: 100%;
    height: 1px;
    top: 1450px;
    left: 0;
}

#CV {
    position: absolute;
    color: #0BFDEB;
    font-size: 20px;
    top: 1480px;
    left: 15%;
}

#source {
    position: absolute;
    color: #0BFDEB;
    font-size: 20px;
    top: 1480px;
    left: 70%;
}
}

@media(min-width: 1238px){
#pfp {
  float: right;
  margin-top: 5%;
  margin-right: 10%;
  width: 300px;
  border-radius: 5px;
  border: 7px solid blue;
  animation: 3s infinite glow;
  transition: transform .7s ease-in-out;
}

#pfp:hover {
  float: right;
  margin-top: 5%;
  margin-right: 10%;
  width: 300px;
  border-radius: 1095px;
  border: 17px solid blue;
  animation: 1s infinite glow;
  transform: rotate(180deg);
}
@keyframes glow {
  0% {
    border-color: #F97EE5;
  }
  10% {
    border-color: #F97EE5 #11C9FF #11FF8F #FF116B;
  }
  25% {
    border-color: #11C9FF;
  }
  35% {
    border-color: #FF116B #F97EE5 #11C9FF #11FF8F;
  }
  50% {
    border-color: #11FF8F;
  }
  65% {
    border-color: #11FF8F #FF116B #F97EE5 #11C9FF;
  }
  75% {
    border-color: #FF116B;
  }
  100% {
    border-color: #11C9FF #11FF8F #FF116B #F97EE5;
  }
}
@-webkit-keyframes glow {
  0% {
    border-color: #F97EE5;
  }
  10% {
    border-color: #F97EE5 #11C9FF #11FF8F #FF116B;
  }
  25% {
    border-color: #11C9FF;
  }
  35% {
    border-color: #FF116B #F97EE5 #11C9FF #11FF8F;
  }
  50% {
    border-color: #11FF8F;
  }
  65% {
    border-color: #11FF8F #FF116B #F97EE5 #11C9FF;
  }
  75% {
    border-color: #FF116B;
  }
  100% {
    border-color: #11C9FF #11FF8F #FF116B #F97EE5;
  }
}

#Ins {
    float: left;
    margin-top: 65px;
    width: 20px;
}

#name {
    float: left;
    position: relative;
    width: 750px;
    margin-top: 25px;
    display: none;
}

#github-logo {
    position: absolute;
    width: 30px;
    top: 176px;
    left: 65px;
}

#github-link {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 176px;
    left: 103px;
}

#linkedin-logo {
    position: absolute;
    width: 30px;
    top: 212px;
    left: 65px;
}

#linkedin-link {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 212px;
    left: 103px;
}

#gmail {
    position: absolute;
    width: 30px;
    top: 253px;
    left: 65px;
}

#mail {
    position: absolute;
    color: #0BFDEB;
    font-size: 25px;
    top: 247px;
    left: 103px;
}

.skills h1 {
    color: #E9952A;
    position: absolute;
    font-size: 55px;
    top: 350px;
    left: 65px;
}

.py {
    position: absolute;
    top: 499px;
    left: 65px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 345px;
    height: 75px;
    font-size: 45px;
    color: #373539;
    z-index: 99;
}

#python {
    position: absolute;
    top: 570px;
    left: 65px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    width: 343px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 98;
    height: 0;
}

#python-logo {
    width: 35px;
}

.py:hover + #python {
    height: 260px;
}

#python:hover {
    height: 260px;
}

.html-css {
    position: absolute;
    top: 499px;
    left: 420px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 345px;
    height: 75px;
    font-size: 35px;
    color: #373539;
    z-index: 99;
}

#html-css {
    position: absolute;
    top: 570px;
    left: 420px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    width: 343px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 98;
    height: 0;
}

.html-css:hover + #html-css {
    height: 240px;
}

#html-css:hover {
    height: 240px;
}

.github {
    position: absolute;
    top: 499px;
    left: 780px;
    background: #FFD700;
    border: none;
    border-radius: 10px;
    width: 345px;
    height: 75px;
    font-size: 35px;
    color: #373539;
    z-index: 99;
}

#github {
    position: absolute;
    top: 570px;
    left: 780px;
    background: #28C1FA;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    line-height: 200%;
    margin-left: 27%;
    margin-down: 2500px;
    width: 343px;
    margin: 0 auto;
    color: #680192;
    font-size: 15px;
    text-align: center;
    transition: all .5s ease-in-out;
    z-index: 98;
    height: 0;
}

#git-logo {
    width: 35px;
}

.github:hover + #github {
    height: 300px;
}

#github:hover {
    height: 300px;
}

.education h1 {
    color: #E9952A;
    position: absolute;
    font-size: 45px;
    top: 650px;
    left: 60px;
}

.education button {
    background: #111110;
    border: none;
    color: #ECC100;
    position: absolute;
    font-size: 25px;
    top: 760px;
    left: 60px;
}

.education p {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 800px;
    left: 90px;
}

.education p a {
    color: #0BFDEB;
    font-size: 20px;
}

.projects {
    position: absolute;
    top: 650px;
    left: 810px;
}

.projects h1 {
    color: #E9952A;
    font-size: 45px;
}

.projects a img {
    width: 250px;
    display: flex;
    transform: scale(1);
    transition: transform .5s;
}

.projects a img:hover {
    transform: scale(1.2);
}

.CV-source button {
    position: absolute;
    border: none;
    background: #FF8700;
    width: 100%;
    height: 1px;
    top: 1450px;
    left: 0;
}

#CV {
    position: absolute;
    color: #0BFDEB;
    font-size: 35px;
    top: 1500px;
    left: 30%;
}

#source {
    position: absolute;
    color: #0BFDEB;
    font-size: 35px;
    top: 1500px;
    left: 65%;
}
}